.Messages{
  width: 80%;
  margin: auto;
}

.Messages input, .Messages textarea {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  margin: 10px auto;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.Messages textarea {
  height: 200px;
}
.Messages button {
  font-family: inherit;
  padding: 10px;
  border: 1px solid #ccc;
  background:  #eee;
  cursor: pointer;
}
